h1{
	text-align: center;
	color:#FF8F1C; 
}

p{
	font-size: 18px;
	font-weight: 300;
	color: #FF8F1C;
	
}

.caixa{
	z-index: 1;
	text-align: justify;
	background-color: #ffc891;
	position: absolute;
	padding: 1%;
	left: 25%;
	right: 25%;
	top: 8%;
	font-weight: bolder;
	
}

.desenvolvedores{
	z-index: 1;
	text-align: justify;
	position: absolute;
	padding: 1%;
	left: 80%;
	right: 0%;
	top: 0%;
	font-weight: bolder;
	
}
.desenvolvedores_img_fb{
	z-index: 1;
	text-align: justify;
	position: absolute;
	padding: 1%;
	left: 90%;
	right: 0%;
	top: 45%;
	font-weight: bolder;
	
}

.desenvolvedores_img_git{
	z-index: 1;
	text-align: justify;
	position: absolute;
	padding: 1%;
	left: 92%;
	right: 0%;
	top: 45%;
	font-weight: bolder;
	
}

.acompanhe{
	z-index: 1;
	text-align: justify;
	position: absolute;
	padding: 1%;
	left: 30%;
	right: 25%;
	top: 58%;
	font-weight: bolder;
	
}

.redes{
	z-index: 1;
	text-align: justify;
	position: absolute;
	padding: 1%;
	left: 38%;
	right: 25%;
	top: 65%;
	font-weight: bolder;
	
}

.google_play{
	z-index: 1;
	text-align: justify;
	position: absolute;
	padding: 1%;
	left: 40%;
	right: 25%;
	top: 80%;
	font-weight: bolder;
	
}

.img_Google_Play{
	z-index: 1;
	height: 15%;
	width: 55%;
}

.img_redes{
	z-index: 1;
	height: 75px;
	width: 75px;
}

.img_lasse{
	z-index: 1;
	height: 40%;
	width: 80%;
}
.img_minhatura_fb{
	z-index: 1;
	height: 23px;
	width: 23px;
	left: 10px;
	right: 10%;
	text-align: left;
}
