#circle1 {   
	position:absolute;
	width: 50px;  
	height: 50px;
	top: 44.5%;
	left: 50px;   
	background: #4285F4;   
	transition: all .1s linear;
	-moz-border-radius: 70px;   
	-webkit-border-radius: 70px;   
	border-radius: 70px;
	border: 1px solid #6b6868;	
	z-index:3;
	-moz-box-shadow: 3px 3px 2px #000000;
	-webkit-box-shadow: 3px 3px 2px #000000;
	box-shadow: 3px 3px 2px #000000;
} 

#circle2 {   
	position:absolute;
	width: 50px;  
	height: 50px;
	top: 44.5%;
	left: 150px;   
	background: #4285F4;  
	transition: all .1s linear;	
	-moz-border-radius: 70px;   
	-webkit-border-radius: 70px;   
	border-radius: 70px;  
	border: 1px solid #6b6868;
	z-index:3;
	-moz-box-shadow: 3px 3px 2px #000000;
	-webkit-box-shadow: 3px 3px 2px #000000;
	box-shadow: 3px 3px 2px #000000;
}

#img{
		position: absolute;
		margin: 0;
		padding: 0;
		z-index: 4;
		top: 45.5%;
		left: 58px;  
		transition: all .1s linear;
}
	

#imgMap2{
		position: absolute;
		margin: 0;
		padding: 0;
		z-index: 4;
		top: 45.5%;
		left: 158px; 
		transition: all .1s linear;
}


*{
	margin:0;
	padding:0;
}


.barra{
	z-index: 1;
	background-color: #FF8F1C;
	height: 100%;
	width: 300px;
	position: absolute;
	transition: all .1s linear;
	left: 0px;
	top:0px;
	font-weight: bolder;
}

.classLogo{
	z-index: 1;
	position:absolute;
	height:160px;
	width:160px;
	z-index:10;
	top:50px;
	left:50px;
	transition: all .1s linear;

}


#mode-selector {
	position:absolute;
	top: 350px;
	left: 20px;
	color: #fff;
	background-color: #4285F4;
	transition: all .1s linear;
	margin-left: 12px;
	padding: 5px 11px 0px 11px;
	z-index:4;
  }
    .controls {
        top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }


#mode-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	}




nav{
	width: 100%;
	position: absolute;
	top: 220px;
}

nav a{
	text-decoration: none;
}

.link{
	background-color: #FF8F1C;
	padding: 20px;
	font-family: 'Arial';
	font-size: 12pt;
	transition: all .1s linear;
	color: #000000;
	border-bottom: 2px solid #222;
	opacity: 1;
	margin-top: 0px;
}

.link:hover{
	background-color: #4285F4;
	color: #f4f4f9;
}