body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#map {
    height: 503px;
        width: 100%;
    
      }
nav {
   
    background-color: #ff8f1c
       
}


#card-bus {
   top: 100px;
       right: 10px;
    width: 250px;
    margin 20px;
       position: fixed;
       z-index: 3000;
    padding: 0px;
}
#card-bus .collection {
    border: none;
    margin-bottom: 0px;
    margin-top: 0px;
}

#card-bus .collection .collection-item.avatar{
    min-height: 0px;
}


ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 110px;
}

ul.side-nav.fixed li.logo:hover,ul.side-nav.fixed li.logo #logo-container:hover{
    background-color:transparent
}

#logo-container {
    height: 57px;
    margin-bottom: 32px;
    padding-left: 0px;
}

header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #FF5252 !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #FFCDD2 !important;
}

.page-footer .footer-copyright{
    background-color: #212121;
    padding: 0px;
}


.page-footer {
    background-color: #424242;
}


.logo-title {
     color: black;
     line-height: 0.8em;
     margin-top: 0.2em;
     margin-bottom:  0.2em;
    margin-left: 0.9em;
    margin-right: 0.4em;
}
 
.bar-title{
    margin-top: 0.2em;
     margin-bottom:  0.1em;
    font-size: 1.5rem;
}

.bar-subtitle{
     margin-top: 0.1em;
     margin-bottom:  0.2em;
   font-size: 1rem;
}