.background{ background-color: #0B1557;
 color: white;
 }

.background2{ background-color: #3D74A2; 
  color: white;
  z-index: 2000;
 }

.container{
  text-indent: 15px;
  text-align: justify;
  margin: 25px;
}

.container2{
  text-align: justify;
  margin: 25px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
    height:200px;
    margin-bottom: 10px;
}

.modal {
  display:none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #FFFFFF;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
    padding-bottom: 30px;
    color: black;
}

.minha-div{
    width: 100vw;
    height: 90%;
    z-index: 1000;
}

.sidebar{
 display:none;
}

.footer {
    position:fixed;
    width:100%;
    z-index: 2000;
    bottom:0;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media only screen and (max-width: 600px) {
 .sidebar {
     display:block;
  }
.modal-content {
     width:100%;
  }
}
